.center-text {
    text-align: center;
    background: linear-gradient(to bottom, #000428, #004e92);
    color: white;
}

body, html {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    place-items: center;
    background: #f3f4f6;
}

.gradient-insta, .gradient-discord, .gradient-github, .gradient-x {
    padding: 25px 50px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px transparent;
    position: relative;
    display: inline-block;
    outline: none;
}

.gradient-insta .instatip, .gradient-discord .discordtip, .gradient-github .gittip, .gradient-x .xtip {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}

.gradient-insta .instatip::after, .gradient-discord .discordtip::after, .gradient-github .gittip::after, .gradient-x .xtip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.gradient-insta:hover {
    background: linear-gradient(135deg, #f9ce34, #ee2a7b, #6228d7);
    transform: scale(1.2);
}
.gradient-insta:hover .instatip {
    visibility: visible;
    opacity: 1;
    background: linear-gradient(135deg, #f9ce34, #ee2a7b, #6228d7);
}

.gradient-discord:hover {
    background: linear-gradient(135deg, #4f71e9, #ebebeb);
    transform: scale(1.2);
}
.gradient-discord:hover .discordtip {
    visibility: visible;
    opacity: 1;
    background: linear-gradient(135deg, #4f71e9, #ebebeb);
}

.gradient-github:hover {
    background: linear-gradient(135deg, #24292e, #fafbfc);
    transform: scale(1.2);
}
.gradient-github:hover .gittip {
    visibility: visible;
    opacity: 1;
    background: linear-gradient(135deg, #24292e, #fafbfc);
}

.gradient-x:hover {
    background: linear-gradient(135deg, #08a0e9, #E8F5FD);
    transform: scale(1.2);
}
.gradient-x:hover .xtip {
    visibility: visible;
    opacity: 1;
    background: linear-gradient(135deg, #08a0e9, #E8F5FD);
}

.banner {
    max-width: 600px;
    padding: 10px;
    border-radius: 15px;
    background: transparent;
    text-align: center;
}

.banner h2 {
    margin-top: 0;
}

.banner p {
    margin-bottom: 20px;
}

.navbar {
    background: rgba(30, 30, 30, 0.8);
    position: fixed;
    padding: 25px;
    border-radius: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96.5%;
    height: 3%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    display: inline-block;
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    background: transparent;
    transition: background 0.3s, color 0.3s;
    font-family: Arial, sans-serif;
    gap: 10px;
}

.nav-link:hover {
    background: #000000;
}

.nav-link img {
    width: 20px;
    height: 20px;
    filter: blur(5px);
}

.nav-link:hover::after {
    content: '➜';
}

.section {
    padding: 20px;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    font: center;
    max-height: fit-content;
}

.section-about {
    padding: 20px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-social {
    padding: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.audio-player {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 20px;
}

#playButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

#playButton img {
    display: inline-block;
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 25px;
    background: transparent;
    transition: background 0.3s, color 0.3s;
    height: 30px;
}

#playButton img:hover {
    background: linear-gradient(135deg, #08a0e9, #E8F5FD);
    transform: scale(1.0);
}

footer {
    text-align: center;
    padding: 2em;
}

footer button {
    padding: 0.5em 2em;
    background: linear-gradient(120deg, #6a11cb, #2575fc);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

footer button:hover {
    background: linear-gradient(120deg, #2575fc, #6a11cb);
}

.section {
    padding: 2em;
    text-align: center;
    transition: opacity 0.5s;
}

.section.hidden {
    opacity: 0;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #004e92;
}

::-webkit-scrollbar-thumb {
    background: cyan;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #52ff80;
}

.line {
    width: 5px;
    height: 90px;
    background-color: #333;
    margin: 20px auto;
    border-color: white;
    border-radius: 1px;
}

@media (max-width: 1500px) {
    .gradient-insta, .gradient-discord, .gradient-github, .gradient-x, .section, .section-social {
        padding: 10px 15px;
    }
}

@media (max-height: fitcon) {
    .gradient-insta, .gradient-discord, .gradient-github, .gradient-x, .section, .section-social {
        height: fit-content;
    }
}

